{% extends "templates/base.twig" %}

{% block head %}
{{ entrypoint('profile')|raw }}
<title>{{ user.username }} - Developer Hub</title>
{% endblock %}

{% block body %}
<div id="main" class="ui inverted attached segment">
    <div class="ui container">
        <div>
            <img src="/img/logo.png" class="ui small image" alt="Profile Picture">
            <div>
                <span class="ui big text">{{ user.username }}</span>
                <p>
                    <i class="user icon"></i> {{ user.fname }} {{ user.lname }}<br>
                    <i class="birthday cake icon"></i> Joined <u
                        data-tooltip="{{ user.getRegistered('n/j/Y g:i:s A') }} (UTC)">{{
                        user.registered.since() }}</u><br>
                    <i class="mail icon"></i> {{ user.email }}<br>
                    <span class="ui green text"><i class="up arrow icon"></i>{{ user.getTotalUpVotes() }}</span>
                    <span class="ui red text"><i class="down arrow icon"></i>{{ user.getTotalDownVotes() }}</span>
                    <span class="ui blue text"><i class="ui question mark icon"></i>{{ user.getTotalQuestionsAsked()
                        }}</span><br>
                </p>
            </div>
            <br>
        </div>
        <div>
            <div class="ui top attached inverted tabular menu">
                <a class="item" data-tab="activity">Activity</a>
                <a class="item" data-tab="questions">Questions</a>
                {# <a class="item" data-tab="answers">Answers</a> #}
            </div>
            <div class="ui inverted attached tab segment" data-tab="activity">
                <div class="ui inverted relaxed divided list">
                    <div class="item">
                        <div class="content">
                            <div class="header">Joined Developer Hub</div>
                            {{ user.username }} joined Developer Hub <u
                                data-tooltip="{{ user.getRegistered('n/j/Y g:i:s A') }} (UTC)">{{
                                user.registered.since() }}</u>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui inverted attached tab segment" data-tab="questions">
                <div class="ui inverted relaxed divided selection list">
                    {% for question in questions %}
                    <div onclick="window.open('/questions/{{ question.id }}', '_parent')" class="item">
                        <div class="right floated">
                            <span class="ui green text" style="margin-right: 5px"><i class="up arrow icon"></i>{{
                                question.upVotes }}</span><br>
                            <span class="ui red text" style="margin-right: 5px"><i class="down arrow icon"></i>{{
                                question.downVotes }}</span><br>
                            <span class="ui teal text">
                                <i class="eye icon"></i> {{ question.views }}
                            </span><br>
                            <span class="ui blue text" style="margin-right: 5px"><i class="comment dots icon"></i>{{
                                question.getTotalComments() }}</span><br>
                            <span>{{ question.answered == 0 ? '<i class="red times icon"></i>' : '<i
                                    class="green check icon"></i>'}}</span>
                        </div>
                        <div class="content">
                            <div class="header">{{ question.title }}</div>
                            {{ ellipses(question.description, 350) }}
                            <div class="tags">
                                {% for tag in question.tags %}
                                <div class="ui inverted violet horizontal label">{{ tag }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {# <div class="ui large center aligned header">No Questions Asked</div> #}
            </div>
            <div class="ui bottom attached inverted tabular menu">
                <a class="item" data-tab="activity">Activity</a>
                <a class="item" data-tab="questions">Questions</a>
                {# <a class="item" data-tab="answers">Answers</a> #}
            </div>
            {# <div class="ui inverted bottom attached tab segment active" data-tab="answers">
                Answers
            </div> #}
        </div>
    </div>
</div>
{% endblock %}